@import 'nav.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #e0e0e0;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #e0e0e0;
    z-index: 9;
}

.nav{
    padding-top:0;
    padding-bottom: 40px;
    padding-left: 5vw;
    display: flex;
    justify-content: space-between;
} 
/*logonun yerine etki ediyor*/
.nav{
    padding-top: 20px;
    padding-left: 43vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 90;
}
/*icon başı */
.nav-items{
    padding-left: 10vw;
    padding-right: 8vw;
    padding-bottom: 20px;
    height: 40px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*tıklamalı seçenekler başı*/

.links-container{
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.link:hover{
    opacity: 1;
    border-bottom: 3px solid #422e1c;
}

.link :active{
    border-bottom: 3px solid #422e1c;
}

.selected{
    border-bottom: 3px solid #422e1c;
    opacity: 1;
}

/* tıklamalı seçenek sonu */

/*icon başı*/

.link:hover{
    opacity: 1;
}

.account-info{
    font-size: 17px;
    text-transform: capitalize;
    background: #fff;

}

/* icon sonu*/

/* aratablardaki containerların başı */
.collection-container{
    padding-top: 1vw;
    padding-right: 3vw;
    padding-left: 3vw;
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 10px;
}

.collection{
    position: relative;
    margin: 1vw;
}

.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* aratablardaki containerların sonu */