@import 'tab.css';

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*information text*/

.intro{
    padding-top: 7vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #383838;
}

/*faq questions accordions*/

.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion-item{
    background-color: rgb(232, 232, 232);
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgb(202, 202, 202);
}

.accordion-link{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(232, 232, 232);
    color: #383838;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link i{
    padding: .5rem;

}

.accordion-link .ion-md-remove{
    display:none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}

.answer::before{
    content: "";
    position:absolute;
    width: .3rem;
    height: 30%;
    top: 50%;
    left: 0;
    transform: rotateY(-50%);

}

.answer p{
    color: #383838;;
    font-size: 15px;
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-add{
    display: none;
}

.accordion-item:target .accordion-link .ion-md-remove{
    display: block;
}

/*neck size video part*/

.neck-size{
    padding-left: 22vw;
    padding-top: 0;
    padding-bottom: 9vw;
}