*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*starting of the navigation bar*/

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #d6d5d5;
    z-index: 9;
}


.nav{
    padding-top: 0;
    padding-bottom: 25px;
    padding-left: 5vw;
    display: flex;
    justify-content: space-between;
    background: #e0e0e0;
} 

/*affect to logo's place*/

.nav{
    padding-top:25px;
    padding-left: 43vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 90;
}

/*icons on the navigation bar*/

.nav-items{
    padding: 0 3vw 53px 10vw;
    height: 70px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items a{
    margin-left: 20px;
    position: relative;
}
.nav-items a img{
    width: 23px;
    cursor: pointer;

}

/*starting of clickable links on the navigation bar*/

.links-container{
    width: 100%;
    display: flex;
    padding-top: 42px;
    justify-content: center;
    list-style: none;
}

.link{
    text-transform: capitalize;
    padding-top: 0 10px;
    margin: 0 75px;
    text-decoration: none;
    color: #000;
    opacity: 0.6;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    justify-content: stretch;
}

.link:hover{
    opacity: 1;
    border-bottom: 3px solid #f09000;
}

.link :active{
    border-bottom: 3px solid #f09000;
}

.selected{
    border-bottom: 3px solid #f09000;
    opacity: 1;
}

.link:hover{
    opacity: 1;
}

.account-info{
    font-size: 17px;
    text-transform: capitalize;
    background: #fff;

}

/*login logout open-close*/

.login-logout-popup{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    top: 40px;
    width: 150px;
    transition: .5s;
    border: 2px solid #f5f5f5;
    z-index: 1000;
}

.login-logout-popup::after{
    content: '';
    position: absolute;
    top: -7.5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 5px;
}

.account-info{
    font-size: 17px;
    text-transform: capitalize;
}

#user-btn{
    padding: 10px;
    background: #383838;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
    text-transform: capitalize;
    cursor: pointer;
}

.hide{
    opacity: 0;
    pointer-events: none;

}
/*end of the navigation bar css*/

/*starting of the products' containers' css*/

.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    padding: 0 20vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container{
    padding: 4vw 4vw 4vw 4vw;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #ececec;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 450px;
    height: 700px;
    margin: 3.2vw;
 
}

.product-image{
    position:sticky;
    width: 450px;
    height: 530px;
    overflow: hidden;
}

.product-thumb{
    width: 450px;
    height: 530px;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn{
    opacity: 1;
}

.card-btn:hover{
    background: #e0e0e0;
}

/*starting of the product info*/

.product-info{
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

/*product name*/

.product-brand{
    text-transform: uppercase;
}

/*product short description*/

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
}

/*old and new price*/

.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
    color: #de6800;
}

/*end of the product containers' css*/

/*starting of footer css*/

footer{
    position: relative;
    width: 100%;
    padding: 10px 5vw;
    padding-bottom: 7px;
    background: #505050;
    z-index: 9;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-content.logo{
    height: 15px;
}

.info{
    color: rgba(255, 255, 255, 0.75);
    padding-left: 35vw;
    padding-right: 0px;
    margin: 15px 0;
    text-transform: none;
}

.info mark.orange{
    color: #f09000;
    background-color: #505050;
}